*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #55ff00
    
}

ul{
    list-style: none;  
}

i {
    color: rgb(179, 168, 20);
}

a{
    text-decoration: none;
    font-size: 700;
}
body{
    background: url(./imagens/backgroung.jpeg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;

}
 header{
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding: 5px;
 }

 header ul {
     display: flex;
 }

 header ul li{
     padding: 10px;
     font-size: 30px;
     
 }
.container {
    text-align: center;
}

.container .name h1{
    font-size: 50px;
    padding-top: 100px;
}

.container .name h5{
    font-size: 25px;
}

#about p{
    max-width: 600px;
    margin: 0 auto;
}
.form {
    width: 40%;
    margin: 0 auto;
}

.form input {
    width: 50%
}

.form button {
    width: 15%
}
